<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Vue Data に class を使うテスト</title>
</head>
<body>
<div id="tgt"></div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="class.js"></script>
<script src="data.js"></script>

<script type="text/x-template" id="tmpl-form">
    <div class="form">
        <form name="frm" method="post" enctype="multipart/form-data">
            <ul>
                <form-unit v-for="unit_data in unit_list" :unit_data="unit_data" :key="unit_data.id"></form-unit>
            </ul>
            <div class="form-submit_area">
                <p v-for="btn in btn_list" :key="btn.form_name" :class="btn.type"><a href="#" @click.prevent="onClickBtn(btn)">確認画面へ</a></p>
            </div>
        </form>
    </div>
</script>

<!-- global compolents -->

<!-- form-file -->
<script type="text/x-template" id="tmpl-form-file">
    <dl>
        <dt>{{form_data.title}}</dt>
        <dd>
            <input :type="form_data.form_type" :name="form_data.name" :disabled="form_data.disabled" @change="onChange"/>
            <div class="">
                <img :src="file_data_src" alt="" v-if="file_data_src" style="width:200px;">
                <p v-if="file_name">ファイル名:{{file_name}}</p>
            </div>
        </dd>
    </dl>
</script>
<script>
    Vue.component('form-file',{
        props:{
            form_data:{
                type:Item,
                requird:true
            }
        },
        data:function(){
            return {
                file_data_src:'',
                file_name:'',
                reader:null
            }
        },
        template:'#tmpl-form-file',
        created:function(){
            this.reader = new FileReader();
            this.reader.addEventListener('load', this.onFileLoad, false);
        },
        methods:{
            onChange:function(e){
                let target = e.target;
                let files = target.files;
                if(files.length){
                    this.reader.readAsDataURL(files[0]);
                    this.file_name = files[0].name;
                    //this.form_data.updateProperty('value', e.target.value);
                }

                this.$emit('updateValues');
            },
            onFileLoad:function(){
                this.file_data_src = this.reader.result;
            }
        }
    });
</script>

<!-- form-select -->
<script type="text/x-template" id="tmpl-form-select">
    <dl>
        <dt>{{form_data.title}}</dt>
        <dd>
            <select v-model="form_data.value">
                <option v-for="option in filter_list" :value="option.value">{{option.label}}</option>
            </select>

        </dd>
        <dd class="err_msg" v-if="form_data.err_msg">{{form_data.err_msg}}</dd>
    </dl>
</script>
<script>
    Vue.component('form-select',{
        props:{
            form_data:{
                type:Item,
                requird:true
            }
        },
        data:function(){
            return {
                // {key:'key名', value:'値'} のフォーマットで配列で持つ
                filter_items: []
            }
        },
        computed: {
            filter_list: function () {
                return this.filter_items.length ? this.filter_items.reduce(function(acc_list, filter_item){
                    return acc_list.filter(function(option){
                        return option.value === '' || option[filter_item.key] == filter_item.value;
                    });
                },this.form_data.list) : this.form_data.list;
            }
        },
        template:'#tmpl-form-select',
        methods:{
            onChange:function(){
                this.$emit('updateValues');
            }
        },
        watch:{
            filter_list:function(list){
                console.log('filter_list',list);
                // 現在の value が filter_list に含まれなければ "" に戻す
            }
        }
    });
</script>

<!-- form-checkbox -->
<script type="text/x-template" id="tmpl-form-checkbox">
    <dl>
        <dt>{{form_data.title}}</dt>
        <dd>
            <p v-for="checkbox in form_data.list" :key="checkbox.value">
                <label :for="form_data.name +'_'+checkbox.value">
                    <input :type="form_data.form_type" v-model="form_data.value" :name="form_data.name" :id="form_data.name +'_'+checkbox.value" :value="checkbox.value" @change="onChange"/>
                    {{checkbox.label}}
                </label>
            </p>

        </dd>
        <dd class="err_msg" v-if="form_data.err_msg">{{form_data.err_msg}}</dd>
    </dl>
</script>
<script>
    Vue.component('form-checkbox',{
        props:{
            form_data:{
                type:Item,
                requird:true
            }
        },
        template:'#tmpl-form-checkbox',
        methods:{
            onChange:function(){
                this.$emit('updateValues');
            }
        }
    });
</script>

<!-- form-radio -->
<script type="text/x-template" id="tmpl-form-radio">
    <dl>
        <dt>{{form_data.title}}</dt>
        <dd>
            <p v-for="radio in form_data.list" :key="radio.value">
                <label :for="form_data.name +'_'+radio.value">
                    <input :type="form_data.form_type" v-model="form_data.value" :name="form_data.name" :id="form_data.name +'_'+radio.value" :value="radio.value" @change="onChange"/>
                    {{radio.label}}
                </label>

            </p>
        </dd>
        <dd class="err_msg" v-if="form_data.err_msg">{{form_data.err_msg}}</dd>
    </dl>
</script>
<script>
    Vue.component('form-radio',{
        props:{
            form_data:{
                type:Item,
                requird:true
            }
        },
        template:'#tmpl-form-radio',
        methods:{
            onChange:function(){
                this.$emit('updateValues');
            }
        }
    });
</script>

<!-- form-input -->
<script type="text/x-template" id="tmpl-form-input">
    <dl>
        <dt>{{form_data.title}}</dt>
        <dd>
            <input :type="form_data.form_type" v-model="form_data.value" :name="form_data.name" :placeholder="form_data.placeholder" :min="form_data.min" :max="form_data.max" :disabled="form_data.disabled" @input="onInput"/>
        </dd>
    </dl>
</script>
<script>
    Vue.component('form-input',{
        props:{
            form_data:{
                type:Item,
                requird:true
            }
        },
        template:'#tmpl-form-input',
        methods:{
            onInput:function(){
                this.$emit('updateValues');
            }
        }
    });
</script>

<script type="text/x-template" id="tmpl-form-display_only">
    <dl>
        <dt>{{form_data.title}}</dt>
        <dd>
            {{form_data.value_label}}
        </dd>
    </dl>
</script>
<script>
    Vue.component('form-display_only',{
        props:{
            form_data:{
                type:Item,
                requird:true
            }
        },
        created:function(){
            this.form_data.setValueLabel();
        },
        template:'#tmpl-form-display_only'
    });
</script>


<!-- form-unit -->
<script type="text/x-template" id="tmpl-form-unit">
    <li>
        <dl>
            <dt>{{unit_data.title}}</dt>
            <dd v-if="unit_data.disp_type === 'edit'" class="edit">
                <component v-for="form_data in unit_data.items" :key="form_data.name" :form_data="form_data" :is="form_data.component_name" @updateValues="updateValues"></component>
                <div v-if="unit_data.err_msgs.length" class="err">
                    <p v-for="err_msg in unit_data.err_msgs">{{err_msg}}</p>
                </div>
            </dd>
            <dd v-else class="view">
                <component v-for="form_data in unit_data.items" :key="form_data.name" :form_data="form_data" :is="form_data.component_name" @updateValues="updateValues"></component>
            </dd>

        </dl>
    </li>
</script>
<script>
    Vue.component('form-unit',{
        props:{
            unit_data:{
                type:ItemUnit,
                requird:true
            }
        },
        template:'#tmpl-form-unit',
        methods:{
            updateValues:function(){
                console.log('unitに更新通知');
                this.unit_data.updateItemsByUpdate();
                console.log('他のunitに更新情報を通知');
                this.unit_data.notifyUpdateToOtherUnits();
            }
        }
    });
</script>

<script>
    (function(){
        'use strict';

        new Vue({
            el:'#tgt',
            template:'#tmpl-form',
            data:{
                current_step:'input',
                unit_list:[],
                btn_list:[
                    {
                        type:'submit',
                        form_name:'frm',
                        label:'確認'
                    }
                ]
            },
            computed:{
                /* id からunitを取得できるオブジェクト */
                unit_obj : function(){
                    return this.unit_list.reduce(function(acc, unit){
                        acc[unit.id] = unit;
                        return acc
                    },{});
                }
            },
            created:function(){
                item_unit_list.forEach(function(item_unit){
                    this.unit_list.push(new ItemUnit(item_unit));
                },this);

                // 他の Unit への更新通知をセット
                this.unit_list.forEach(function(unit){
                    unit.observe_unit_ids.forEach(function(observe_unit_id){
                        this.unit_obj[observe_unit_id].setUpdateNoticeToOtherUnit(unit);
                    },this);
                },this);
            },
            methods:{
                onClickBtn:function(btn){
                    let err_flg = false;
                    if(this.current_step === 'input' && btn.type === 'submit'){
                        // 確認画面へ遷移するときだけ入力チェック
                        err_flg = this.unit_list.reduce(function(flg, unit){
                            return !unit.isValid() || flg;
                        }, err_flg);
                        console.log('err_flg:' + err_flg);
                    }
                    if(!err_flg){
                        document[btn.form_name].submit();
                    }
                }

            }
        });
    })();
</script>
</body>
</html>